:root {
    /* Palette */
    --maroon-web: #850000ff;
    --dark-red: #980707;
    --rosso-corsa: #dc0000ff;
    --jasmine: #ffdb89ff;
    --blond: #fff6c3ff;
    --light-blue: #2589BD;
    --picotee-blue: #21268A;
}

body {
    background-color: var(--dark-red);
    color: white;
    font-family: 'Lato', sans-serif;
}

h1 {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin: 50px auto 20px;
}

h2, h3, h2 a {
    color: var(--picotee-blue);
    font-family: 'Solitreo', cursive;
}


.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
}

.footer-padding {
    padding-bottom: 60px;
}

.footer {
    position: sticky;
    text-align: center;
    width: 100%;
    height: 60px;
    padding: 20px;
    background-color: var(--picotee-blue);
}

.footer p {
    font-size: 12px;
    color: #fff;
}

.post {
    padding: 20px;
    background-color: var(--blond);
    margin: 30px auto;
    border-radius: 10px;
    color: black;
}

.post:first-of-type {
    padding-top: 20px;
}

.btn {
    margin: 20px auto;
    /* background-color: var(--picotee-blue); */
    background-color: var(--light-blue);
    color: black;
}